.idea
*.iml
build
/src/main/generated
/bin
.gradle
.poject
.settings
.classpath
commitHash.txt
logs
.log
.zip
/out
*~
/functional-eventsourcing.iml
/functional-eventsourcing.ipr
/functional-eventsourcing.main.iml
/functional-eventsourcing.test.iml
/functional-eventsourcing.iws
